
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
hotupdate-assets/
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
# node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/